[Unit]
Description=consul
Requires=network.target
After=syslog.target network.target

[Service]
Type=forking
ExecStart={{consul_home}}/start.sh
User=consul
EnvironmentFile={{ consul_home }}/consul.env
PIDFile=/run/consul/consul.pid
TimeoutSec=300

[Install]
WantedBy=multi-user.target
