[Unit]
Description=consul
Requires=network.target
After=syslog.target network.target

[Service]
Type=forking
ExecStart={{consul_home}}/start.sh
User=consul
EnvironmentFile={{ consul_home }}/consul.env
PIDFile={{consul_home}}/consul.pid
Environment="CONSUL_PID_FILE_PATH={{consul_home}}/consul.pid"
TimeoutSec=300

[Install]
WantedBy=multi-user.target
