#!/usr/bin/env bash
set -euo pipefail

# Early exit for unsupported systems
case "${OSTYPE}" in
  linux-gnu* | darwin*)
    ;; # Linux, MacOS, and WSL2 can proceed
  msys | cygwin)
    echo "The ${OSTYPE} environment is not yet supported for the Fermyon platform."
    echo "But it will work within the Windows Subsystem for Linux."
    echo "See https://docs.microsoft.com/en-us/windows/wsl/install for details."
    exit 1
    ;;
  *)
    echo "The ${OSTYPE} environment is not yet supported for the Fermyon platform."
    exit 1
    ;;
esac

require() {
  if ! hash "$1" &>/dev/null; then
    echo "'$1' not found in PATH"
    exit 1
  fi
}

require consul

# NOTE(bacongobbler): nomad MUST run as root for the exec driver to work on Linux.
# https://github.com/deislabs/hippo/blob/de73ae52d606c0a2351f90069e96acea831281bc/src/Infrastructure/Jobs/NomadJob.cs#L28
# https://www.nomadproject.io/docs/drivers/exec#client-requirements
#case "$OSTYPE" in
#  linux*)
#    require sudo
#    SUDO="sudo --preserve-env=PATH"
#    ;;
#  *)
#    SUDO=
#    ;;
#esac

cleanup() {
  echo
  echo "Shutting down services"
  kill $(jobs -p)
  wait
}
trap cleanup EXIT

# change to the directory of this script
cd "{{consul_home}}"

#${SUDO} rm -rf ./data
mkdir -p ./log

echo "Starting consul..."
consul agent -dev \
  -config-file ./etc/consul.hcl \
  -bootstrap-expect 1 \
  -pid-file=./consul.pid \
  &>log/consul.log &

echo "Waiting for consul..."
while ! consul members &>/dev/null; do
  sleep 10
done

