[Unit]
Description=fermyon
Requires=network.target
After=syslog.target network.target
[Service]
Type=forking
ExecStart={{fermyon_installation}/local/start.sh
User=fermyon
PIDFile={{fermyon_installation}}/fermyon.pid
Environment="FERMYON_PID_FILE_PATH={{fermyon_installation}}/krustlet.pid"
[Install]
WantedBy=multi-user.target
